# compiled output
/dist/**
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# env files
*.env
applications/email-subscriptions/dist/app.controller.d.ts
applications/email-subscriptions/dist/app.controller.js
applications/email-subscriptions/dist/app.controller.js.map
applications/email-subscriptions/dist/app.module.d.ts
applications/email-subscriptions/dist/app.module.js
applications/email-subscriptions/dist/app.module.js.map
applications/email-subscriptions/dist/app.service.d.ts
applications/email-subscriptions/dist/app.service.js
applications/email-subscriptions/dist/app.service.js.map
applications/email-subscriptions/dist/main.d.ts
applications/email-subscriptions/dist/main.js
applications/email-subscriptions/dist/main.js.map
applications/email-subscriptions/dist/tsconfig.build.tsbuildinfo
